<div id="map"></div>
<div class="tab-content" id="tabs">
	<ul class="nav nav-tabs" id="my_tab_ospf"  data-tabs="tabs">
		
		<li class="TabC TabSt">

			<a id="sectiontab_ospf_status" href="#tab_status" data-toggle="tab">Status 

				<span class="badge"></span>
			</a>
		</li>
		
		
		<li class="TabC TabGn active">

			<a id="sectiontab_ospf_general" href="#tab_general" data-toggle="tab">General Settings 

				<span class="badge"></span>
			</a>
		</li>
		
		<li class="TabC TabIns">
			<a id="sectiontab_ospf_instance" href="#tab_instance" data-toggle="tab">Instance 
				<span class="badge"></span>
			</a>
		</li>
		
		
<!--
		<li class="TabC TabNeighbors">
			<a id=":i" href="#tab_neighbors" data-toggle="tab">Neighbors
				<span class="badge"></span>
			</a>
		</li>
-->
		
		<li class="TabC TabNetArea">
			<a id=":h" href="#tab_net_area" data-toggle="tab">Network and Area
				<span class="badge"></span>
			</a>
		</li>
		
		<li class="TabC TabInterface">
			<a id=":w" href="#tab_interface" data-toggle="tab">Interface
				<span class="badge"></span>
			</a>
		</li>
		
	
	</ul>
	
	          
	    <div class="tab-pane TabC TabSt" id="tab_status">
			<div id="section_ospf_status"></div>
			
			<table class="table table-condensed table-hover">
						<td class="text-right" style="width: 10%;">							
							<button type="button" id="btn_ospfstatus_refresh" title="" class="btn btn-success">Refresh</button>
						</td>
					</tr>
				</tbody>
			</table>	
			
	          </div>
	   
	   
	 
		
		<div class="tab-pane TabC TabGn active" id="tab_general">
			<div id="section_ospf_general"></div>
			
			
			<table class="table table-condensed table-hover">
						<td class="text-right" style="width: 5%;">							
							<button type="button" id="btn_ospf_general_update" title="" class="btn btn-success">Update</button>
						</td>
					</tr>
				</tbody>
			</table>	
			
	   </div>
	   
	   
	   <div class="tab-pane TabC TabIns" id="tab_instance">
			<div id="section_ospf_instance"></div>
				   </div>
	  
	<!--
	</div>
	
	<!--
	<div class="tab-pane TabC TabNeighbors"  id="tab_neighbors">
		<div id="section_ospf_neighbors"></div>	
		<div id="Mansection_ospf_neighbors" class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">New Connection</h3>
			</div>
			
			<table class="table table-condensed table-hover">

					
					<thead>
					<tr class="cbi-section-table-titles">
						<th class="cbi-section-table-cell">Name</th>
						<th class="cbi-section-table-cell">Neighbor</th>
						<th class="cbi-section-table-cell">Priorty</th>

					<th class="cbi-section-table-cell"> </th>
					</tr>
				</thead>
					
					<tbody data-toggle="validator">
					<tr class="luci2-section-item" id="sectionitem_NewEvent" data-luci2-sid="NewEvent">
						
						<td>
							<div class="luci2-field">
								<div class="luci2-field-widget">
									<input class="form-control luci2-field-validate" id="field_NewEvent_Name" type="text" placeholder="">
									<div class="luci2-field-error label label-danger" style="display: none;"></div>
								</div>
							</div>
						</td>
						
						<td>
							<div class="luci2-field">
								<div class="luci2-field-widget">
									<input class="form-control luci2-field-validate" id="field_NewEvent_Neighbor" type="text" placeholder="10.1.1.1">
									<div class="luci2-field-error label label-danger" style="display: none;"></div>
								</div>
							</div>
						</td>
						

						<td>
							<div class="luci2-field">
								<div class="luci2-field-widget">
									<input class="form-control luci2-field-validate" id="field_NewEvent_Priorty" type="text" placeholder="">
									<div class="luci2-field-error label label-danger" style="display: none;"></div>
								</div>
							</div>
						</td>


						<td class="text-right" style="width: 1%;">
							<div class="btn-group">
								<button type="button" id="AddNewospfNeighbor" title="" class="btn btn-success">Add</button>
							</div>
						</td>
					</tr>
	
	</table>	
	
	</div>

-->
	
	
		<div class="tab-pane TabC TabNetArea"  id="tab_net_area">
		<div id="section_ospf_network_area"></div>	
		<div id="Mansection_ospf_network_area" class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">New Connection</h3>
			</div>
			
					<table class="table table-condensed table-hover">
			
					<thead>
					<tr class="cbi-section-table-titles">
						<th class="cbi-section-table-cell">Name</th>
						<th class="cbi-section-table-cell">Network</th>
						<th class="cbi-section-table-cell">Area</th>
						<th class="cbi-section-table-cell"> </th>
					</tr>
				</thead>
					
					<tbody data-toggle="validator">
					<tr class="luci2-section-item" id="sectionitem_NewEvent" data-luci2-sid="NewEvent">
						
						<td>
							<div class="luci2-field">
								<div class="luci2-field-widget">
									<input class="form-control luci2-field-validate" id="field_NewEvent_name_ospf" type="text" placeholder="">
									<div class="luci2-field-error label label-danger" style="display: none;"></div>
								</div>
							</div>
						</td>
						
						<td>
							<div class="luci2-field">
								<div class="luci2-field-widget">
									<input class="form-control luci2-field-validate" id="field_NewEvent_Network_ospf" type="text" placeholder="192.168.25.0/24">
									<div class="luci2-field-error label label-danger" style="display: none;"></div>
								</div>
							</div>
						</td>
						
						<td>
							<div class="luci2-field">
								<div class="luci2-field-widget">
									<input class="form-control luci2-field-validate" id="field_NewEvent_Area_ospf" type="text" placeholder="">
									<div class="luci2-field-error label label-danger" style="display: none;"></div>
								</div>
							</div>
						</td>
						

						<td class="text-right" style="width: 1%;">
							<div class="btn-group">
								<button type="button" id="AddNewNetworkArea" title="" class="btn btn-success">Add</button>
							</div>
						</td>
					</tr>

			</table>
	 	
	</div>
	</div>	
	
	
			       		
	<div class="tab-pane TabC TabInterface"  id="tab_interface">
		<div id="section_ospf_interface"></div>	
		<div id="Mansection_ospf_interface	" class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">New Connection</h3>
			</div>
			
			<table class="table table-condensed table-hover">

					
					<thead>
					<tr class="cbi-section-table-titles">
						<th class="cbi-section-table-cell">Name</th>
						<th class="cbi-section-table-cell">Interface</th>
						<th class="cbi-section-table-cell">Priority</th>
<!--
						<th class="cbi-section-table-cell">IP Address</th>
-->
						<th class="cbi-section-table-cell"> </th>
					</tr>
				</thead>
					
					<tbody data-toggle="validator">
					<tr class="luci2-section-item" id="sectionitem_NewEvent" data-luci2-sid="NewEvent">
				
				
		    <td>
				<div class="luci2-field">
				  <div class="luci2-field-widget">
				     <input class="form-control luci2-field-validate" id="field_NewEvent_name" type="text" placeholder="">
				     <div class="luci2-field-error label label-danger" style="display: none;"></div>
				  </div>
		   	   </div>
			</td>		
				
						

			<td>
				<div class="luci2-field">
				 <div class="luci2-field-widget">
					<select class="form-control luci2-field-validate" id="field_NewEvent_interface" onchange="handleInterfaceSelection()">
					<option value="lo">Loopback</option>
					<option value="eth0.5">eth0.5</option>
					<option value="custom">Custom</option>
			          </select>
                         <input type="text" class="form-control luci2-field-validate custom-value-input" id="field_NewEvent_inter"  style="display: none;">
                			<div class="luci2-field-error label label-danger" style="display: none;"></div>
								</div>
							</div>
						</td>	
						
						<script>
	function handleInterfaceSelection() {
		var dropdown = document.getElementById("field_NewEvent_interface");
		var selectedOption = dropdown.options[dropdown.selectedIndex].value;
		var customInput = document.querySelector(".custom-value-input");

		if (selectedOption === "custom") {
			dropdown.style.display = "none";
			customInput.style.display = "block";
		} else {
			dropdown.style.display = "block";
			customInput.style.display = "none";
		}
	}
</script>						

		
						<td>
							<div class="luci2-field">
								<div class="luci2-field-widget">
									<input class="form-control luci2-field-validate" id="field_NewEvent_priority" type="text" placeholder="">
									<div class="luci2-field-error label label-danger" style="display: none;"></div>
								</div>
							</div>
						</td>
						
						

						<td class="text-right" style="width: 1%;">
							<div class="btn-group">
								<button type="button" id="AddNewospfinterface" title="" class="btn btn-success">Add</button>
							</div>
						</td>
					</tr>
	
			</table>	
	       
			
	</div>
	
	
	
	
		
</div>

<style>
	label{
		font: normal normal normal 13px/18px Poppins;
	color: #2E384D;
	}
	
	.switch {
	  position: relative;
	  display: inline-block;
	  width: 40px;
	  height: 22px;
	  top:-3px;
	}
	
	.switch input { 
	  opacity: 0;
	  width: 0;
	  height: 0;
	}
	
	.slider {
	  position: absolute;
	  cursor: pointer;
	  top: 0;
	  left: 0;
	  right: 0;
	  bottom: 0;
	  background-color: #ccc;
	  -webkit-transition: .4s;
	  transition: .4s;
	}
	
	.slider:before {
	  position: absolute;
	  content: "";
	  height: 18px;
	  width: 18px;
	  left: 2px;
	  bottom: 2px;
	  background-color: white;
	  -webkit-transition: .4s;
	  transition: .4s;
	}
	
	input:checked + .slider {
	  background-color: #4caf50;
	}
	
	input:focus + .slider {
	  box-shadow: 0 0 1px #2196F3;
	}
	
	input:checked + .slider:before {
	  -webkit-transform: translateX(18px);
	  -ms-transform: translateX(18px);
	  transform: translateX(18px);
	}
	
	/* Rounded sliders */
	.slider.round {
	  border-radius: 34px;
	}
	
	.slider.round:before {
	  border-radius: 50%;
	}
	.btnApply{
	  width:150px;
	}
		</style>


 <style>
.cbi-section{
    sbackground: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 25px 30px #0000001a;
    border: 1px solid #70707038;
    border-radius: 10px;
    width: 95%;
    padding: 17px;
margin-bottom:10px;
}
</style>
